#completedbar{
    background-color: #33c733;
}
#inprogressbar{
    background-color: #f9f918 ;
}
#incompletebar{
    background-color: #9e9eff ;
}
#headerarea {
    display: flex;
    background-image: linear-gradient(45deg, transparent,blue, transparent);
    color: aliceblue;
    text-align: center;
    font-size: xx-large;
}
#head{
    padding: 15px 0px;
    width: 80%;
}
.picon{
    color: black;
    width: 10%;
    padding-top: 20px;
}
#logo {
    height: 80px;
    float: left;
    margin-left: 20px;
    padding-top: 10px;
}
#eyeslash{
    padding-top: 30px;
    font-size: 24px;
    color: grey;
}
.editbutton {
    display: none;
}
#finalReport{
    display: none;
}
#eye{
    display: none;
}
#mobileStart{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0px;
    display: none;
}
@media only screen and (max-width: 600px){
    #headerarea{
        font-size: x-large;
    }
    #logo{
        height: 50px;
        margin-left: 5px;
    }
    .picon,#eyeslash{
        font-size: 20px;
        padding-top: 25px;
    }
    #previewheading{
        font-size:x-large;
    }
    .topAlign{
        font-size: large;
    }
    #mobileStart{
        display: block;
    }

}