#completedbar{
    background-color: #33c733;
}
#inprogressbar{
    background-color: #f9f918 ;
}
#incompletebar{
    background-color: #9e9eff ;
}
#headerarea {
    background-image: linear-gradient(45deg, transparent,blue, transparent);
    color: aliceblue;
    text-align: center;
    font-size: 40px;
}
#head{
    padding: 15px 0px;
}
#logo {
    height: 60px;
    float: left;
    margin-left: 20px;
    padding-top: 10px;
}
@media only screen and (max-width: 600px){
    #headerarea{
        font-size: 25px;
    }
    #logo{
        height: 50px;
        margin-left: 5px;
    }
}