body {
    height: 100vh;
    width: 100vw;
}

#workspace {
    height: 84%;
}

#details {
    height: 100%;
}

.progress {
    height: 3%;
}

#completed_bar {
    background-color: #33c733;
}

#details_division {
    display: flex;
    height: 97%;
}

#report {
    display: none;
}

#labels {
    height: 100%;
    width: 24.5%;
    margin-right: 0.5%;
    background-image: linear-gradient(blue, lightblue);
    flex-direction: column;
    justify-content: space-around;
    display: flex;
}

.lbl {
    width: 92%;
    padding: 10px 5px;
    text-align: center;
    font-size: large;
    font-weight: 700;
    margin: 0% 4%;
}

#view_area {
    width: 75%;
    background-image: linear-gradient(blue, lightblue);
}

#preview_area {
    height: 100%;
}

#preview_heading {
    margin: 0%;
    text-align: center;
    height: 7%;
    background-image: linear-gradient(#9797e8, blue);
    color: white;
}

#preview_division {
    height: 93%;
    overflow-y: scroll;
    background-image: url("Images/choice2.jpg");
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

.preview_steps {
    background-color: rgba(248, 247, 244, 0.849);
    border-radius: 4px;
    text-align: left;
    display: flex;
    margin: 0.7%;
}

.step_head {
    width: 20%;
    margin: 0;
    padding: 5px;
}

.colon {
    margin: 0;
    width: 1%;
    padding-top: 2px;
}

.content {
    font-weight: 400;
    margin: 0;
    padding: 5px;
    font-size: 20px;
    width: 76%;
    white-space: pre;
}

#p2 {
    width: 70%;
}

.edit_button,
#backward,
#forward {
    background: transparent;
    border: none;
    width: 3%;
    padding: 0;
    margin: 0;
    display: none;
}

.completed {
    background-color: #5deb72;
}

.in_progress {
    background-image: linear-gradient(180deg, #5deb72, transparent);
}

#user_data_entry_box {
    display: none;
    height: 100%;
}

#i_choices {
    display: none;
    background-color: #330099;
    font-size: 2rem;
    padding: 0px 50px;
    width: fit-content;
    color: white;
}

.choice_content {
    text-align: left;
}

.main_block ul {
    margin: 10px 0px;
}

#rEntries .main_block {
    min-height: 230px;
    text-align: left;
}

/*---------------------         footer area        ----------------------------------*/

#footer_area {
    height: 6%;
}

.footer_buttons {
    height: 100%;
    padding: 0;
    margin: auto;
}

#i_question {
    margin: 0%;
    width: 99.3%;
    background-color: #330099;
    color: white;
    padding: 4px;
    font-size: 2rem;
    margin-bottom: 5px;
}

#i_decision {
    background-color: #330099;
    font-size: 2rem;
    padding: 5px 20px;
    width: fit-content;
    color: white;
}

#i_response {
    font-size: 30px;
    background-color: white;
    margin: 50px;
    border: 3px solid #006699;
    padding: 20px;
    max-width: 75%;
    min-width: 75%;
    min-height: 180px;
    max-height: 180px;
}

#decision_data {
    display: none;
}

#choice_lists .main_block {
    cursor: pointer;
}

.main_block {
    display: inline-flex;
    min-width: 250px;
    width: 20%;
    flex-direction: column;
    background-color: #ecebeb;
    margin: 1% 2%;
    box-shadow: 5px 5px 5px;
    border-radius: 10px;
    color: #666;
}

.main_block h1 {
    border-radius: 10px 10px 0px 0px;
    background-color: #a7d9e0;
    font-size: larger;
    padding: 5px;
}

.main_block h1,
.main_block h3 {
    margin: 0;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 5px;
}

.main_block ul {
    margin: 10px 0px;
}

#rEntries .main_block {
    min-height: 230px;
    text-align: left;
}

.i_btn {
    display: none;
    margin: 5px;
    background-color: #3399ff;
    transition-duration: 0.3s;
    border: 2px solid black;
    color: white;
    padding: 10px 15px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    border-radius: 6px;
}

#show_preview {
    display: none;
}

#show_report {
    display: none;
}

#send_text {
    display: inline;
}

#send_report {
    display: none;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0px;
}
#report {
    display: none;
    min-height: 85vh;
    text-align: center;
    background-image: radial-gradient(blue, transparent);
}

#r_problem {
    width: 100%;
    background-color: #330099;
    color: white;
    padding: 4px;
    font-size: x-large;
    border-radius: 5px 60px;
}

.not_selected h1 {
    background-color: tomato;
    color: white;
}

.not_selected {
    box-shadow: 5px 5px 5px tomato;
}

.selected {
    box-shadow: 5px 5px 5px green;
}

.selected h1 {
    background-color: #7fe77f;
    color: #666;
}

#thankYou {
    display: none;
}

@media only screen and (max-width: 600px) {
    /*---------------------         workspace        ----------------------------------*/
    #workspace {
        height: 86%;
    }
    .progress {
        height: 2%;
    }
    #labels {
        display: none;
    }
    #view_area {
        width: 100%;
    }
    #preview_heading {
        font-size: 27px;
        padding-top: 5px;
    }
    .step_head {
        font-size: 19px;
        width: 42%;
    }
    .colon {
        width: 2%;
    }
    .content {
        width: 50%;
    }
    #p2 {
        width: 38%;
    }
    .edit_button,
    #backward,
    #forward {
        width: 6%;
        display: none;
    }
    #i_question {
        font-size: larger;
    }
    #i_question h3 {
        margin: 0px;
    }
    #i_response {
        max-width: 100%;
        width: 100%;
        font-size: 20px;
        border: none;
        margin: 0px;
    }
    .i_btn {
        font-size: small;
        min-width: 70%;
    }
    #i_choices {
        font-size: medium;
        width: 100%;
    }
    #Start {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        margin: 0px;
    }
}
