#preview_area {
    height: 100%;
}

#preview_heading {
    background-image: linear-gradient(#9797e8, blue);
    color: white;
    height: 7%;
    display: flex;
}

#preview_heading h2{
    margin: auto;
}

#preview_division {
    height: 93%;
    overflow-y: auto;
    background-image: url("../Images/choice2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.preview_steps {
    background-color: rgba(248, 247, 244, 0.849);
    border-radius: 4px;
    text-align: left;
    margin: 0.7%;
    display: none;
}

.step_head {
    width: 20%;
    margin: 0;
    padding: 5px;
}

.colon {
    margin: 0;
    width: 1%;
    padding-top: 2px;
}

.content {
    font-weight: 400;
    margin: 0;
    padding: 5px;
    font-size: 20px;
    width: 76%;
    white-space: pre;
}

#p2 {
    width: 70%;
}

.edit_button,
#backward,
#forward {
    background: transparent;
    border: none;
    width: 3%;
    padding: 0;
    margin: 0;
}

@media only screen and (max-width: 600px) {
    #preview_heading {
        font-size: 27px;
    }
    #preview_division {
        background-image: url(../Images/choice3.jpg);
        background-size: 100% 100%;
    }
    .step_head {
        font-size: 19px;
        width: 42%;
    }
    .colon {
        width: 2%;
    }
    .content {
        width: 50%;
    }
    #p2 {
        width: 38%;
    }
    .edit_button,
    #backward,
    #forward {
        width: 6%;
    }
}
